html, body {margin:0;padding:0;height:100%}

html {
    background-color: rgb(10,10,10);
}

#header {
    background-color: rgb(50,40,50);
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    width:60%;
    height:10%;
    z-index:1;
    border-radius:10px;
}

#backpane {
    position: fixed;
    margin:auto;
    background-color: rgb(150,100,150);
    left:0;
    right:0;
    height: 100%;
    width: 45%;
}