html, body {margin:0;padding:0;height:100%}

html {
    background-color: rgb(10,10,10);
}

#header {
    background-color: rgb(50,40,50);
    position:fixed;
    margin:auto;
    margin-top:-10px;
    left:0;
    right:0;
    width:60%;
    height:10%;
    z-index:1;
    border-radius:10px;
}

#nav {
    margin-left: 225px;
}

#backpane {
    position: fixed;
    margin:auto;
    background-color: rgb(150,100,150);
    left:0;
    right:0;
    height: 100%;
    width: 45%;
}

#home {
    margin-left:150px;
    width:100px;
    height:100px;
    border-radius:100%;
}

ul {
    font-size: 24px;
}

li {
    display: inline;
    border: 2px solid #000000;
    color: black;
    padding: 5px;
    border-radius: 5px 5px;
    background-color: purple;
}
ul.l {
    list-style-type: none;
    position: fixed;
    margin-top:15px;
    margin-left:-15px;
}
ul.r {
    list-style-type: none;
    position: fixed;
    margin-top:-90px;
    margin-left:215px;
}